<div class="media">
  <div class="media-left media-middle">
    <%= image_tag(@codelist.picture.url, :style => 'max-height: 320px; max-width: 220px', :class => "media-object") if @codelist.picture? %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= @codelist.title %></h4>
    <p><%= safe_join(@codelist.content.split("\n"),tag(:br)) %></p>
    <p>関連URL：<%= link_to @codelist.url, @codelist.url, target: :_blank, rel: 'noopener' %></p>
    <p><%= link_to "アイテム編集", edit_codelist_path(@codelist), :class => "btn btn-primary" %>
    <%= link_to "アイテム削除", @codelist, :class => "btn btn-danger", method: :delete,
                                       data: { confirm: "このアイテムを削除してよろしいですか？" } %></p>
  </div>
</div>
<br/>
