<li id="codelist-<%= @codelist.id %>">
  <span class="user"><%= link_to @codelist.user.name, @codelist.user %></span>
  <span class="title"><%= link_to(image_tag(@codelist.picture.url , :size => "108x154"), codelist_path(@codelist)) if @codelist.picture? %></span>
  <span class="title"><%= @codelist.title %></span>
  <span class="content"><%= @codelist.content.html_safe %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@codelist.created_at) %> ago.
  </span>
</li>