<div class="media">
  <div class="media-left media-middle">
    <%= image_tag(@code_list.picture.url, :style => 'max-height: 200px; max-width: 140px', :class => "media-object") if @code_list.picture? %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= @code_list.title %></h4>
    <p><%= safe_join(@code_list.content.split("\n"),tag(:br)) %></p>
    <p>関連URL：<%= link_to @code_list.url, @code_list.url, target: :_blank, rel: 'noopener' %></p>
    <p><%= link_to "アイテム編集", edit_code_list_path(@code_list), :class => "btn btn-primary" %>
    <%= link_to "アイテム削除", @code_list, :class => "btn btn-danger", method: :delete,
                                       data: { confirm: "このアイテムを削除してよろしいですか？" } %></p>

    <% unless @exchange_list.nil? %>
      <% if @exchange_list.token.blank? %>
        <%= form_for(@exchange_list) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="field">
            <%= f.text_field :token, placeholder: "input token..." %>
          </div>
          <%= f.hidden_field :code_list_id, :value => @code_list.id %>
          <%= f.submit "Post", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <%= image_tag "https://chart.apis.google.com/chart?chs=200x200&cht=qr&chl=#{@exchange_list.token}" , :size =>'200x200'%>
      <% end %>
    <% end %>
  </div>
</div>
<br/>